bin/
obj/
.vs
/BlazorAssessment/Data/database.db
/BlazorAssessment/Data/database.db-journal
/BlazorAssessment/Data/database.db-shm
/BlazorAssessment/Data/database.db-wal
/BlazorAssessment/Data/bck
/BlazorAssessment/Data/indexDescBck
